name: Android CI

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    
    - name: Upload APK artifacts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: apk-files
        path: app/build/outputs/apk/**/*.apk

  release:
    name: Create GitHub Pre-release
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/release'
    permissions:
      contents: write
    
    steps:
    - name: Download APK artifacts
      uses: actions/download-artifact@v4
      with:
        name: apk-files
        path: apk-files
    
    - name: Create Pre-release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: pre-${{ github.run_number }}
        name: Pre-release Build #${{ github.run_number }}
        prerelease: true
        files: apk-files/**/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

